// Variables esenciales
$text-primary: #24295B;
$text-secondary: #24295B;
$bg-white: #ffffff;

// Host styles
:host {
  display: block;
  width: 100%;
  background-color: $bg-white;
}

// Header principal
.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: $bg-white;
  position: relative;


  // Contenido - Centrado perfecto en todo el ancho
  .header-content {
    width: 100%;
    text-align: center;
    margin-top: 7rem;
    .main-title {
      margin: 0 0 0.5rem 0;
      font-size: 1.875rem;
      font-weight: 600;
      color: $text-primary;
      line-height: 1.2;
    }

    .subtitle {
      margin: 0;
      font-size: 1rem;
      color: $text-secondary;
      line-height: 1.4;
    }
  }

  // Móviles
  @media (max-width: 590px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    position: static; // Resetear position en móviles



    .header-content {
      .main-title {
        font-size: 1.5rem;
      }

      .subtitle {
        font-size: 1rem;
        max-width: 90%;
        margin: 0 auto;
      }
    }
  }

  // Móviles pequeños
  @media (max-width: 480px) {
    gap: 1rem;

    .logo i {
      font-size: 1.8rem;
    }

    .header-content {
      .main-title {
        font-size: 1.25rem;
      }

      .subtitle {
        font-size: 0.875rem;
      }
    }
  }
}
