<section class="hero"  aria-labelledby="hero-heading">
  <div class="hero__container">
    <!-- side left -->
    <div class="hero__side-left">
      <!-- <span class="hero__span">¡Transforma tu manera de hacer networking!</span> -->
      <h1 id="hero-heading" class="hero__titule">
        Revoluciona y mejora tu Red de Networking
      </h1>
      <p class="hero__text">
        Conecta con profesionales de tu sector, amplía tu red de contactos y
        potencia tus oportunidades de negocio con nuestra plataforma.
      </p>
      <div class="hero__buttons">
        <button class="hero__button-primary">
          Comenzar Ahora <i class="pi pi-arrow-right"></i>
        </button>
        <a href="#portfolio" class="hero__button-text"
          ><button class="hero__button-secondary">
            Ver más <i class="pi pi-sparkles"></i></button
        ></a>
      </div>
    </div>
    <!-- side rigth -->
    <div class="hero__side-right">
      <figure class="hero__image-wrapper">
        <div class="hero__image"></div>
        <!-- <img class="hero__image" src="" alt="Imagen" /> -->
        <figcaption class="hero__caption"></figcaption>
      </figure>
    </div>
  </div>
</section>
