<section class="hero" aria-labelledby="hero-heading">
  <div class="hero__container">
    <!-- <div class="hero__content"> -->
    <h1 id="hero-heading" class="hero__title">
      ¡Revoluciona y mejora tu Red de Networking!
    </h1>
    <p class="hero__text">
      Conecta con profesionales de tu sector, amplía tu red de contactos y
      potencia tus oportunidades de negocio con nuestra plataforma.
    </p>
    <div class="hero__actions">
      <button class="hero__button hero__button--primary">
        Comenzar Ahora <i class="pi pi-arrow-right"></i>
      </button>
      <a href="#portfolio" class="hero__button hero__button--secondary">
        Ver más <i class="pi pi-sparkles"></i>
      </a>
    </div>
    <!-- </div> -->
  </div>
</section>
