<footer class="footer">
  <div class="footer__container">
    <!-- brand -->
    <div class="footer__brand">
      <img
        src="assets/public/dapperTechLogo.png"
        alt="Logo de Mi Networking"
        class="footer__logo"
      />
    </div>

    <!-- link page -->
    <div class="footer__copy">
      <div>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#home">Inicio</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#how-it-works">Cómo funciona</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#benefits">Beneficios</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#plans">Planes</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#faqs">FAQs</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#contact">Contacto</a>
          </li>
        </ul>
      </div>
      <p class="footer__text">
        <a
          class="footer__link"
          target="_blank"
          href="https://dappertechnologies.com/"
          >DAPPERTECHNOLOGIES.COM</a
        >
      </p>
      <hr class="footer__hr" />
      <p class="footer__terms-and-conditions">Visita nuetros terminos y condiciones</p>
    </div>

    <!-- social media -->
    <nav class="footer__social" aria-label="Redes sociales">
      <ul class="footer__social-list">
        <li class="footer__social-item">
          <a href="#" class="footer__social-link" aria-label="Facebook">
            <div class="footer__social-icon">
              <i class="pi pi-facebook"></i>
            </div>
          </a>
        </li>
        <li class="footer__social-item">
          <a href="#" class="footer__social-link" aria-label="Instagram">
            <div class="footer__social-icon">
              <i class="pi pi-instagram"></i>
            </div>
          </a>
        </li>
        <li class="footer__social-item">
          <a href="#" class="footer__social-link" aria-label="Linkedin">
            <div class="footer__social-icon">
              <i class="pi pi-linkedin"></i>
            </div>
          </a>
        </li>
        <li class="footer__social-item">
          <a href="#" class="footer__social-link" aria-label="Twitter">
            <div class="footer__social-icon"><i class="pi pi-twitter"></i></div>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
