@use "../../../../styles/config" as *;

.plans {
  background-color: $secondary-color;
  padding: 4rem 0;
  position: relative;
}

.plans__container {
  padding-bottom: 4rem;

  .plans__header {
    @include header;

    .plans__title {
      @include titule($primary-color);
    }

    .plans__subtitle {
      @include description($quinary-color);
    }
  }
}

.plans__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  gap: 4rem;
}

// Estilos base de la tarjeta
.plans__card {
  padding: 2rem 5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  transition: all 200ms ease-out;
  
  &--monthly {
    background-color: $white-color;
    border: 1px solid $primary-color;

    &:hover {
      @include cards-hover-price_monthly;
      
      .plans__button {
        transform: translateY(-5px);
      }
    }
  }
  
  &--yearly {
    background-color: rgb(26, 46, 159);;
    
    &:hover {
      @include cards-hover-price_yearly;
      border: 1px solid $primary-color;
      
      .plans__button {
        transform: translateY(-5px);
      }
    }
  }
}



.plans__card-header {
  margin-bottom: 2rem;
}

.plans__card-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  
  .pi-bolt {
    background: linear-gradient(90deg, rgb(26, 46, 159), rgb(93, 107, 215));
    border-radius: 10px;
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: 500;
    color: $white-color;
  }
  
  .pi-crown {
    background: linear-gradient(10deg, rgb(255, 255, 255), rgb(176, 177, 253));
    border-radius: 10px;
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: 500;
    color: $primary-color;
  }
}

.plans__card-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-left: 15px;
}

.plans__card-title {
  font-size: 1.5rem;
  font-family: $primary-font-titule;
  margin-bottom: 0.5rem;
  
  .plans__card--monthly & {
    color: $primary-color;
  }
  
  .plans__card--yearly & {
    color: $white-color;
  }
}

.plans__card-description {
  max-width: 200px;
  font-size: 1rem;
  font-family: $font-text;
  
  .plans__card--monthly & {
    color: $primary-color;
  }
  
  .plans__card--yearly & {
    color: $white-color;
  }
}

.plans__price {
  font-family: $font-text;
  text-align: center;
}

.plans__price-amount {
  font-size: 3rem;
  font-weight: 800;
  
  .plans__card--monthly & {
    color: $primary-color;
  }
  
  .plans__card--yearly & {
    color: $white-color;
  }
}

.plans__price-period {
  .plans__card--monthly & {
    color: $primary-color;
  }
  
  .plans__card--yearly & {
    color: $white-color;
  }
}

.plans__divider {
  .plans__card--monthly & {
    border-color: $primary-color;
  }
  
  .plans__card--yearly & {
    border-color: $white-color;
  }
}

.plans__features {
  font-family: $font-text;
  text-align: center;
}

.plans__features-list {
  text-align: start;
}

.plans__feature-item {
  list-style: none;
  margin-bottom: 1.5rem;
  
  .plans__card--monthly & {
    color: $primary-color;
  }
  
  .plans__card--yearly & {
    color: $white-color;
  }
}

.plans__action {
  margin: 1rem 0;
}

.plans__button {
  font-family: $primary-font-titule;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  width: 100%;
  font-weight: 700;
  padding: 0.8rem 2rem;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease-out;
  
  .plans__card--monthly & {
    color: $white-color;
    background: linear-gradient(rgb(26, 46, 159), rgb(93, 107, 215));
  }
  
  .plans__card--yearly & {
    color: $primary-color;
    background: linear-gradient(10deg, rgb(255, 255, 255), rgba(223, 226, 255, 0.884));
  }
}

.plans__terms-link {
  text-align: center;
  margin-top: 5rem;
  
  a {
    color: $gray-color;
    font-family: $primary-font-titule;
    font-size: 1rem;
  }
}