<header class="header" [class.scrolled]="isScrolled">
  <div class="nav-container">
    <div class="container-logo" [class.scrolled]="isScrolled">
      <div class="container-img">
        <img src="assets/public/miNetworking.logo.png" alt="mi networking" />
      </div>
      <p class="container-text">Networking</p>
    </div>

    <nav class="nav" #navContainer>
      <ul class="nav-list" [class.active]="isMenuOpen">
        <li class="nav-item" 
            *ngFor="let section of sections" 
            [attr.data-section]="section.id"
            [class.active]="activeSection === section.id">
          <a (click)="scrollTo(section.id); $event.preventDefault()">{{ section.name }}</a>
        </li>

        <li class="nav-item mobile-btn">
          <button class="container-btn mobile">Log-In</button>
        </li>
      </ul>

      <!-- Indicador visual -->
      <div class="nav-indicator" [ngStyle]="{
        'left': indicatorPosition.left,
        'width': indicatorPosition.width
      }"></div>
    </nav>

    <button class="container-btn desktop">Log In</button>

    <div class="btn-menu" (click)="toggleMenu()">
      <i [class]="menuIcon" id="menu-icon"></i>
    </div>
  </div>
</header>