@use "../../../../styles/config" as *;

.how-it-works {
  background-color: $quaternary-color;
  padding: 4rem 0;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;
  }

  &__header {
    @include header;
  }

  &__title {
    @include titule($primary-color);
  }

  &__subtitle {
    @include description($quinary-color);
  }

  &__steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4.5rem;
    margin: 2rem 0 4rem 0;
  }

  &__step {
    @include step;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: all 200ms ease;

    &--bg1 {
      background-image: linear-gradient(rgba(80, 79, 133, 0.614), rgba(80, 79, 133, 0.614)),
        url('/assets/images/step1-bg.webp');
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--bg2 {
      background-image: linear-gradient(rgba(80, 79, 133, 0.614), rgba(80, 79, 133, 0.614)),
        url('/assets/images/step2-bg.webp');
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--bg3 {
      background-image: linear-gradient(rgba(80, 79, 133, 0.614), rgba(80, 79, 133, 0.614)),
        url('/assets/images/step3-bg.webp');
      background-repeat: no-repeat;
      background-size: cover;
    }

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);

      .how-it-works__icon-wrapper {
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
      }
    }
  }

  &__icon-wrapper {
    background-color: $secondary-color;
    border-radius: 10px;
    max-width: 17%;
    margin-bottom: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    color: $primary-color;
    font-size: 2rem;
    padding: 1rem;
  }

  &__step-title {
    font-family: $primary-font-titule;
    font-size: 1.2rem;
    font-weight: 700;
    color: $white-color;
    margin-bottom: 0.3rem;
  }

  &__step-description {
    font-family: $font-text;
    font-size: 1rem;
    color: $white-color;
    margin-bottom: 0.8rem;
    text-wrap: pretty;
  }

  &__step-number {
    font-family: $primary-font-titule;
    font-size: 0.8rem;
    font-weight: 500;
    color: $white-color;
  }

  &__cta-button {
    font-weight: 700;
    padding: 0.8rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 200ms ease;
    width: 15%;
    border: 1.5px solid $primary-color;
    @include button($primary-color, $white-color);

    .pi-arrow-right {
      font-weight: 700;
      padding-left: 12px;
      color: $white-color;
      transition: all 200ms;
    }

    &:hover {
      transform: translateY(-5px);
      cursor: pointer;
    }
  }
}
