<section
  class="how-it-works"
  aria-labelledby="how-it-works-heading"
>
  <div class="how-it-works__container">
    <header class="how-it-works__header">
      <h2 id="how-it-works-heading" class="how-it-works__title">
        Cómo Funciona
      </h2>
      <p class="how-it-works__subtitle">
        Tres simples pasos para comenzar a expandir tu red profesional
      </p>
    </header>

    <div class="how-it-works__steps">
      <!-- Paso 1 -->
      <article  class="how-it-works__step bg1">
        <figure class="how-it-works__figure">
          <i class="how-it-works__image pi pi-user"></i>
        </figure>
        <h3 class="how-it-works__step-title">Inicia tu registro</h3>
        <p class="how-it-works__step-description">
          Proporciona toda la información necesaria para crear tu hoja de Networking.
        </p>
        <span class="how-it-works__step-span">Paso 1</span>
      </article>

      <!-- Paso 2 -->
      <article class="how-it-works__step bg2">
        <figure class="how-it-works__figure">
           <i class="how-it-works__image pi pi-credit-card"></i>
        </figure>
        <h3 class="how-it-works__step-title">Realiza tu pago</h3>
        <p class="how-it-works__step-description">
          Selecciona un método de pago, confirma y comienza a crear tu hoja de networking.
        </p>
        <span class="how-it-works__step-span">Paso 2</span>
      </article>

      <!-- Paso 3 -->
      <article class="how-it-works__step bg3">
        <figure class="how-it-works__figure">
           <i class="how-it-works__image pi pi-file-edit"></i>
        </figure>
        <h3 class="how-it-works__step-title">Agrega tu contenido</h3>
        <p class="how-it-works__step-description">
          Llena el formulario con tu información profesional, personal y de tu empresa.
        </p>
        <span class="how-it-works__step-span">Paso 3</span>
      </article>
    </div>

    <button class="how-it-works__button-primary">Comenzar <i class="pi pi-arrow-right"></i></button>

  </div>
</section>




<!-- <section
  id="how-it-works"
  class="how-it-works"
  aria-labelledby="how-it-works-heading"
>
  <div class="how-it-works__container">
    <header class="how-it-works__header">
      <h2 id="how-it-works-heading" class="how-it-works__title">
        Cómo Funciona
      </h2>
      <p class="how-it-works__subtitle">
        Tres simples pasos para comenzar a expandir tu red profesional
      </p>
    </header>

    <div class="how-it-works__steps">
     
      <article class="how-it-works__step">
        <figure class="how-it-works__figure">
          <i class="how-it-works__image pi pi-user"></i>
        </figure>
        <h3 class="how-it-works__step-title">Inicia tu registro</h3>
        <p class="how-it-works__step-description">
          Proporciona toda la información necesaria para crear tu hoja de Networking.
        </p>
        <span class="how-it-works__step-span">Paso 1</span>
      </article>

      
      <article class="how-it-works__step">
        <figure class="how-it-works__figure">
           <i class="how-it-works__image pi pi-credit-card"></i>
        </figure>
        <h3 class="how-it-works__step-title">Realiza tu pago</h3>
        <p class="how-it-works__step-description">
          Selecciona un método de pago, confirma y comienza a crear tu hoja de networking.
        </p>
        <span class="how-it-works__step-span">Paso 2</span>
      </article>

   
      <article class="how-it-works__step">
        <figure class="how-it-works__figure">
           <i class="how-it-works__image pi pi-file-edit"></i>
        </figure>
        <h3 class="how-it-works__step-title">Agrega tu contenido</h3>
        <p class="how-it-works__step-description">
          Llena el formulario con tu información profesional, personal y de tu empresa.
        </p>
        <span class="how-it-works__step-span">Paso 3</span>
      </article>
    </div>

    <button class="how-it-works__button-primary">Comenzar <i class="pi pi-arrow-right"></i></button>

  </div>
</section> -->