<section id="portfolio" class="portfolio" aria-labelledby="portfolio-heading">
  <div class="portfolio__container">
    <h2 id="portfolio-heading" class="portfolio__title">Portafolio</h2>
    <p class="portfolio__description">Explora ejemplos de hojas Horly</p>

    <p-galleria
      [value]="images"
      [responsiveOptions]="responsiveOptions"
      [containerStyle]="{
        width: '800px',
        height: '500px',
        margin: '0 auto'
      }"
      [numVisible]="3"
      [circular]="true"
      [showItemNavigators]="true"
      [showThumbnailNavigators]="false"
    >
      <ng-template pTemplate="item" let-item>
        <img [src]="item.src" [alt]="item.alt" class="portfolio__image" />
      </ng-template>

      <ng-template pTemplate="thumbnail" let-item>
        <div class="portfolio__thumbnail-container">
          <img [src]="item.src" [alt]="item.alt" class="portfolio__thumbnail" />
        </div>
      </ng-template>
    </p-galleria>
  </div>
</section>
