<section id="faqs" class="faqs" aria-labelledby="faqs-heading">
  <div class="faqs__container">
    <header class="faqs__header">
      <h2 id="faqs-heading" class="faqs__title">FAQs</h2>
      <p class="faqs__subtitle">Respuestas a las preguntas más frecuentes</p>
    </header>

    <div class="faqs__accordion">
      <p-accordion>
        <p-accordionTab header="ncjfnv">
          <p>algomvkg b</p>
        </p-accordionTab>
        <p-accordionTab header="ncjfnv 2">
          <p>nvintb</p>
        </p-accordionTab>
        <p-accordionTab header="ncjfnv 3">
          <p>nvjgbnghb</p>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</section>

<!-- <p-accordion>
        <p-accordionTab *ngFor="let tab of tabs; let i = index" [header]="tab.title">
          <div class="accordion-content">
            {{ tab.content }}
          </div>
        </p-accordionTab>
      </p-accordion> -->