<section id="contact" class="contact" aria-labelledby="contact-heading">
  <div class="contact__container">
    <div class="contact__container__form">
      <form action="" class="contact__form">
        <div class="contact__form__body">
          <div class="contact__form__row">
            <span class="p-float-label contact__form__input-item">
              <input
                pInputText
                id="username"
                styleClass="contact__form-input"
              />
              <label for="username" styleClass="contact__form-label">
                <i class="pi pi-user"></i> Nombre</label
              >
            </span>

            <span class="p-float-label contact__form__input-item">
              <input
                pInputText
                id="lastname"
                styleClass="contact__form-input"
              />
              <label for="lastname" styleClass="contact__form-label">
                <i class="pi pi-user"></i> Apellido</label
              >
            </span>
          </div>

          <span class="p-float-label contact__form__input-item">
            <input
              pInputText
              type="email"
              id="email"
              styleClass="contact__form-input"
            />
            <label for="email" styleClass="contact__form-label">
              <i class="pi pi-at"></i> Correo Electrónico</label
            >
          </span>

          <span class="p-float-label contact__form__input-item">
            <textarea
              id="message"
              rows="5"
              cols="30"
              pInputTextarea
              styleClass="contact__form-input"
            ></textarea>
            <label for="message" styleClass="contact__form-label">
              <i class="pi pi-comments"></i> Mensaje</label
            >
          </span>

          <button class="contact__form-button" type="submit">Enviar</button>

          <p class="f">
            <i class="pi pi-lock"></i> Tus datos están seguros con nosotros. No
            compartimos tu información.
          </p>
        </div>
      </form>

      <div class="contact__details">
        <header class="contact__info">
          <h2 id="contact-heading" class="contact__title">
            ¿Tienes dudas o quieres comenzar hoy? ¡Hablemos!
          </h2>
          <p class="contact__description">
            Contáctanos como prefieras: usa el formulario o envíanos un email.
            ¡Responderemos lo antes posible!
          </p>
        </header>

          
            <div class="p">
            <div class="contact__details-header">
            <h3 class="contact__details-title">
              ¿Prefieres escribirnos directo?
            </h3>
          </div>
          <span class="contact__span">
            <a
              href="mailto:contacto@dappertechnologies.com"
              class="contact__link"
            >
              <i class="pi pi-envelope"></i> {{ email }}
            </a>
          </span>
          <span class="contact__span">
            <a class="contact__link">
              <i class="pi pi-phone"></i> +52 0123456789
            </a>
          </span>
          <span class="contact__span">
            <a class="contact__link">
              <i class="pi pi-user"></i> otro contacto
            </a>
          </span>
          </div>
        </div>
      </div>
  </div>
</section>
